body{
    background-color: #083b4c !important;
}

.my-square{
    display: inline-block;
    background-color: #1389b2;
    width: 100px;
    height: 100px;

    line-height: 100px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.my-fizzBG{
    background-color: #0cd6a1;
}

.my-buzzBG{
    background-color: #ffd166;
}

.my-fizzbuzzBG{
    background-color: #f0466f;
}